@charset"utf-8";
body{
  width: 100%;
  
    background:linear-gradient(#000000, #ff6600); 
    
    font-family: "メイリオ","Hiragi";
}

h2{
    font-size: 120%;
    border-bottom: 1px dashed #003366;
    border-left:  10px solid #003366;
    padding-left:7px;
}
header{
    background-color: #ff6600;
}


#header{
    width: 980px;
    margin-left: 0px;
    margin-right: 0px;
}
ul {
    img{
        width: 60px;
        height: 60px;
        top: 0px;
        left: 0px;
        margin-right: 0px;
    }
    list-style-type: none;
    line-height: 1.8;
    
    color: #ffffff;
    border-radius: 10px;
    font-size: 90%;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 5px;

    /*トップページ試合結果*/
    .btn-flat-vertical-border {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.5em 1em;
  text-decoration: none;
  border-left: solid 4px #fffbfb;
  border-right: solid 4px #ffffffbf;
  color: #ffffff;
  background: #000000;
  transition: .4s;
}
.btn-flat-vertical-border:hover {
  background: #ff0000;
  color: #FFF;
}
   /*学生活動*/
    .btn-flat-vertical-border {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.5em 1em;
  text-decoration: none;
  border-left: solid 4px #fffbfb;
  border-right: solid 4px #ffffffbf;
  color: #ffffff;
  background: #000000;
  transition: .4s;
}
.btn-flat-vertical-border:hover {
  background: #ff0000;
  color: #FFF;
}

  /*スケジュール*/
    .btn-flat-vertical-border {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.5em 1em;
  text-decoration: none;
  border-left: solid 4px #fffbfb;
  border-right: solid 4px #ffffffbf;
  color: #ffffff;
  background: #000000;
  transition: .4s;
}
.btn-flat-vertical-border:hover {
  background: #ff0000;
  color: #FFF;
}
  /*チームTシャツ*/
    .btn-flat-vertical-border {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.5em 1em;
  text-decoration: none;
  border-left: solid 4px #fffbfb;
  border-right: solid 4px #ffffffbf;
  color: #ffffff;
  background: #000000;
  transition: .4s;
}
.btn-flat-vertical-border:hover {
  background: #ff0000;
  color: #FFF;
}
  /*お問い合わせ*/
    .btn-flat-vertical-border {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.5em 1em;
  text-decoration: none;
  border-left: solid 4px #fffbfb;
  border-right: solid 4px #ffffffbf;
  color: #ffffff;
  background: #000000;
  transition: .4s;
}
.btn-flat-vertical-border:hover {
  background: #ff0000;
  color: #FFF;
}
}
ul time{
    border-radius: 10px;
    background-color: #999999;
    color: #ffffff;
    font-size: 90%;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 0px;
}

artile{
    position:relative;
    clear:both;
    width: 960px auto;
    margin-left: auto;
    margin-right: auto;
}

img {
  max-width: 100%;
  height: auto;
}

nav ul{
    font-weight: bold;
    text-align: right;
    padding-top: 26px;
    padding-bottom: 5px;
    marigin:0px;
}

nav li{
    display: inline;
    padding-right: 12px;
    padding-left: 10px;
    border-right: 1px solid #ffffff;
}



footer{
    text-align: center;
    background-color: #003366;
    color: #ffffff;
    padding-top:10px;
    padding-bottom: 10px;
}

.catch {
    position: absolute;
    top: 300px;
    left: 30px;
    color: #ff6600;
    text-shadow: 0px 5px 10px #000000;
}




/*959px以下の場合*/
@media(max-width:959px){
    header image{
        float:none;
    }
    nav ul{
        text-align: left;
        margin-left: 10px;
    }
    article{
        width: auto;
    }
    article img{
        max-width: 100%;
        height:auto;
    }
    .header-in{
        width: auto;
    }
}