@charset"utf-8";
body{
  width: 100%;
  
    background:linear-gradient(#000000, #ff6600); 
    height: 3000px;
    font-family: "メイリオ","Hiragi";
}
ul time{
    border-radius: 10px;
    background-color: #999999;
    color: #ffffff;
    font-size: 90%;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 0px;
}

artile{
    position:relative;
    clear:both;
    width: 960px auto;
    margin-left: auto;
    margin-right: auto;
}

img {
  max-width: 100%;
  height: auto;
}

nav ul{
    font-weight: bold;
    text-align: right;
    padding-top: 26px;
    padding-bottom: 5px;
    marigin:0px;
}

nav li{
    display: inline;
    padding-right: 12px;
    padding-left: 10px;
    border-right: 1px solid #ffffff;
}



footer{
    text-align: center;
    background-color: #003366;
    color: #ffffff;
    padding-top:10px;
    padding-bottom: 10px;
}

.catch {
    position: absolute;
    top: 300px;
    left: 30px;
    color: #ff6600;
    text-shadow: 0px 5px 10px #000000;
}




/*959px以下の場合*/
@media(max-width:959px){
    header image{
        float:none;
    }
    nav ul{
        text-align: left;
        margin-left: 10px;
    }
    article{
        width: auto;
    }
    article img{
        max-width: 100%;
        height:auto;
    }
    .header-in{
        width: auto;
    }
}